<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.groups.schicken.department.DepartmentVO" alias="DepartmentVO"/>
        <typeAlias type="com.groups.schicken.Employee.EmployeeVO" alias="EmployeeVO"/>
    </typeAliases>
</configuration>
