<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.calendar.CalendarDAO">

	<insert id="insert" parameterType="CalendarVO">
		<selectKey resultType="Long" keyProperty="id" order="BEFORE">
			SELECT nextval(seq5)
		</selectKey>
		insert into calendar
		values
		(
		#{id},
		#{start},
		#{end},
		#{title},
		#{userYn},
		#{content},
		#{share}
		)
	</insert>

	<insert id="insertuser" parameterType="CalendarVO">
		insert into calendar_emp (calendar_id, employee_id)
		values
		(#{calendarId},
		#{employeeId}
		)
	</insert>
<insert id="insertAllUser" parameterType="list">
    insert into calendar_emp(calendar_id, employee_id)
    <foreach collection="list" item="i" separator="," open="VALUES">
        (#{i.calendarId}, #{i.employeeId})
    </foreach>
</insert>





	<select id="calList" parameterType="CalendarVO"
		resultType="CalendarVO">
		select
		calendar.id ,
		calendar.`start` ,
		calendar.`end` ,
		calendar.title ,
		calendar.use_yn ,
		calendar.content ,
		calendar.share,
		ce.employee_id,
		e.name
		from calendar
		inner join calendar_emp ce
		on calendar.id = ce.calendar_id
		inner join employee e
		on ce.employee_id = e.id
		inner join department d
		on e.department_id = d.id
		where use_yn = 1
	</select>


<select id="departmentList" parameterType="CalendarVO" resultType="CalendarVO">
select 
c.id AS calendar_id ,  
e.id AS employee_id 
from calendar c 
inner join 
calendar_emp ce on c.id = ce.calendar_id   
inner join employee e 
on e.department_id  = ce.employee_id
where e.id != #{share}
	</select>

<select id="depList" parameterType="CalendarVO" resultType="CalendarVO">
	select ce.calendar_id ,
	ce.employee_id 
	from calendar_emp ce 
	inner join department d on
	ce.employee_id = d.id 
	</select>


<delete id="depDelete" parameterType="CalendarVO">
DELETE from calendar_emp where employee_id = #{employeeId}
</delete>


</mapper>
