<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.chatting.ChatDAO">
    <select id="getChatroomByChatroomId">
        SELECT
              cr.id
            , notice
            , cr.type
            , room_name AS "name"
            , max(cms.send_date) AS "last_chatting"
            , last_read_id
            , join_date
        FROM chatroom cr
            INNER JOIN chat_member cm ON cr.id = cm.chatroom_id
            LEFT JOIN chat_message cms ON cms.chatroom_id = cr.id
        WHERE cm.employee_id=#{reqId} AND cr.id=#{chatroomId}
    </select>

    <select id="getChatroomList">
        SELECT
              cr.id
            , cr.notice
            , cr.type
            , NVL(cm.room_name, cr.default_name)
        FROM chatroom cr
            INNER JOIN chat_member cm ON cr.id = cm.chatroom_id
        WHERE cm.employee_id=#{id}
    </select>

    <select id="getChatroomData" resultMap="chatroomDataResult">
        SELECT
              cr.id AS "chatroom_id"
            , cm.room_name AS "chatroom_name"
            , e.id AS "employee_id"
            , concat(c.name, ' ' , e.name) AS "name"
            , a.url AS "profile_img"
            , d.name AS "department_name"
            , cm.last_read_id
        FROM chatroom cr
            INNER JOIN chat_member cm ON cr.id = cm.chatroom_id
            INNER JOIN employee e ON e.id = cm.employee_id
            INNER JOIN department d ON d.id = e.department_id
            INNER JOIN code c ON c.id = e.pos_id AND c.type_id='300'
            LEFT JOIN attach a ON a.parent_id = e.id AND a.tbl_id=1077
        WHERE cr.id=#{chatroomId}
    </select>

    <resultMap id="chatroomDataResult" type="ChattingVO" autoMapping="true">
        <id column="chatroom_id" property="chatroomId"/>
        <collection property="members" autoMapping="true" javaType="List" ofType="EmployeeProfileVO">
            <id column="employee_id" property="id"/>
        </collection>
    </resultMap>

    <select id="getChatMessageData">
        SELECT
              id
            , cmg.employee_id AS "sender_id"
            , type
            , send_date
            , content
        FROM chat_message cmg
            INNER JOIN chat_member cm ON
                    cmg.chatroom_id = cm.chatroom_id
                AND cmg.employee_id = cm.employee_id
<!--        WHERE cm.chatroom_id='#{chatroomId}'-->
    </select>

    <insert id="createOneChatroom">
        INSERT INTO chatroom (id, type)
        VALUES (#{id}, #{type})
    </insert>

    <insert id="joinChatroom">
        INSERT INTO chat_member(chatroom_id, employee_id, room_name)
        VALUES (#{chatroom.id}, #{id}, #{chatroom.name})
    </insert>

    <insert id="insertChat">
        INSERT INTO chat_message(id, chatroom_id, employee_id, type, send_date, content)
        VALUES (#{id}, #{chatroomId}, #{senderId}, #{type}, #{sendDate}, #{content})
    </insert>

    <select id="getChatroomName">
        SELECT default_name AS "name"
        FROM chatroom
        WHERE id=#{chatroomId}
    </select>

    <update id="updateLastRead">
        UPDATE chat_member
        SET last_read_id=#{chattingId}
        WHERE chatroom_id=#{chatroomId} AND employee_id=#{employeeId}
    </update>
</mapper>
