<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.document.DocumentDAO">

	<select id="getEx" resultMap="employeeResult">
		SELECT emp.id,
			emp.name,
			d.name departmant_name,
			c.name code_name
			
			FROM employee emp
			LEFT JOIN department d ON emp.department_id=d.id
			INNER join code c on c.id=emp.pos_id and c.type_id =300
			WHERE emp.id=#{id}
	</select>
	
	<resultMap type="employeeVO" id="employeeResult" autoMapping="true">
		<association property="department" autoMapping="true" javaType="DepartmentVO" columnPrefix="departmant_"/>
		<association property="position" javaType="CodeVO" autoMapping="true" columnPrefix="code_"/>
	</resultMap>
	
	<!-- DepartmentVO department;
		CodeVO position; -->

	<update id="resultUpdate">
		UPDATE approval
		SET result=1 , date=#{date}
		WHERE document_id=#{documentId} AND employee_id=#{employeeId}
	</update>

	<select id="approvalList" resultMap="allListResult">
		SELECT 
			d.id,
			d.title,
			d.write_date,
			a.*,
			tem.*,
			emp.name employee_name,
			emp.id employee_id
		FROM document d
		LEFT JOIN approval a ON a.document_id = d.id
		LEFT JOIN employee emp ON d.writer_id=emp.id
		LEFT JOIN template tem ON tem.temp_id=d.template_id
		WHERE a.employee_id=#{id}
		ORDER BY rank
	</select>
	
	
	<insert id="add" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			SELECT nextval(seq3)
		</selectKey>
		INSERT INTO document
		VALUES(#{id},#{title},#{content},#{start},#{end},#{writeDate},#{status},#{templateId},#{writerId},#{des})
	</insert>
	
	<insert id="appAdd">
		INSERT INTO approval
		VALUES(#{documentId},#{employeeId},#{rank},#{result},#{date},#{comment})
	</insert>
	
	
	<select id="allList" resultMap="allListResult">
		SELECT doc.*,
		tem.*
		FROM document doc
		LEFT JOIN template tem ON doc.template_id = tem.temp_id
		ORDER BY id DESC
		LIMIT #{pager.startIndex},#{pager.perPage}
	</select>
	
	<resultMap id="allListResult" type="DocumentVO" autoMapping="true">
		<association property="templateVO" javaType="TemplateVO" autoMapping="true"/>
		<association property="employeeVO" javaType="EmployeeVO" autoMapping="true" columnPrefix="employee_"/>
		<association property="department" javaType="DepartmentVO" autoMapping="true" columnPrefix="department_"/>		
		<collection property="approvalVOs" javaType="List" ofType="ApprovalVO" autoMapping="true"/>
	</resultMap>
	
	<select id="getDetail" resultMap="allListResult">
		SELECT doc.*,
		tem.*,		
		app.rank,
		app.result,
		app.date,
		e.name employee_name,
		e.id employee_id,	
		d.name department_name,
		c.name "level"
		FROM document doc
		LEFT JOIN template tem ON doc.template_id = tem.temp_id
		LEFT JOIN approval app ON app.document_id = doc.id
		INNER JOIN employee e ON e.id=app.employee_id 
		INNER JOIN department d on d.id=e.department_id 
		INNER join code c on c.id=e.pos_id and c.type_id =300
		WHERE doc.id=#{id}
		ORDER BY app.rank
	</select>
	
	<select id="allTotalCount" parameterType="Map" resultType="Long">
		SELECT COUNT(id) FROM document r
	</select>	

</mapper>




