<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.document.DocumentDAO">

  	<sql id="search">
		<choose>
			<when test="pager.kind != null and pager.kind.equals('1')">AND doc.title LIKE CONCAT('%',#{pager.search},'%')</when>
			<when test="pager.kind != null and pager.kind.equals('2')">AND tem.temp_Name LIKE CONCAT('%',#{pager.search},'%')</when>
			<when test="pager.kind != null and pager.kind.equals('3')">AND doc.content LIKE CONCAT('%',#{pager.search},'%')</when>
			<otherwise>AND(doc.title LIKE CONCAT('%',#{pager.search},'%') OR doc.content LIKE CONCAT('%',#{pager.search},'%'))</otherwise>
		</choose>		
	</sql>

	<select id="getEx" resultMap="employeeResult">
		SELECT emp.id,
			emp.name,
			d.name departmant_name,
			c.name code_name
			
			FROM employee emp
			LEFT JOIN department d ON emp.department_id=d.id
			INNER join code c on c.id=emp.pos_id and c.type_id =300
			WHERE emp.id=#{id}
	</select>
	
	<resultMap type="employeeVO" id="employeeResult" autoMapping="true">
		<association property="department" autoMapping="true" javaType="DepartmentVO" columnPrefix="departmant_"/>
		<association property="position" javaType="CodeVO" autoMapping="true" columnPrefix="code_"/>
	</resultMap>
	
	<!-- DepartmentVO department;
		CodeVO position; -->

	<update id="resultUpdate">
		UPDATE approval
		SET result=1 , date=#{date}
		WHERE document_id=#{documentId} AND employee_id=#{employeeId}
	</update>
	
	<update id="statusUpdate">
		UPDATE document d
		INNER JOIN <include refid="totalResult"/> ON sub.document_id=d.id
		SET status=1
		WHERE sub.total = d.count		
	</update>
	
	<update id="refuseUpdate">
		UPDATE approval
		SET result=2 , date=#{date} ,comment=#{comment}
		WHERE document_id=#{documentId}	AND employee_id=#{employeeId}		
	</update>
	<update id="statusRefuse">
		UPDATE document d
		INNER JOIN approval a ON a.document_id=d.id
		SET status=2
		WHERE a.result=2 
	</update>
	
	<sql id="totalResult">
		(SELECT count(*) AS "total",document_id FROM approval a 
			where document_id =#{documentId} and result=1
			group by document_id
			) sub
	</sql>
	
		<sql id="countCheck">
		(SELECT 
			COUNT(*) AS "count",document_id
			FROM approval
			WHERE result =1
			GROUP BY document_id) sub
	</sql>
	

	<select id="approvalList" resultMap="allListResult">
		SELECT 
			doc.id,
			doc.title,
			doc.write_date,
			doc.status,
			a.*,
			sub.count,
			tem.*,
			emp.name employee_name,
			emp.id employee_id
		FROM document doc
		LEFT JOIN approval a ON a.document_id = doc.id
		LEFT JOIN employee emp ON doc.writer_id=emp.id
		LEFT JOIN template tem ON tem.temp_id=doc.template_id
		INNER JOIN <include refid="countCheck"/> ON sub.document_id=doc.id
		WHERE a.employee_id=#{employeeVO.id} AND a.rank BETWEEN 0 and sub.count <include refid="search"/>
		ORDER BY doc.id DESC
		LIMIT #{pager.startIndex},#{pager.perPage}
	</select>
	

	
	<select id="allList" resultMap="allListResult">
		SELECT doc.*,
		tem.*		
		FROM document doc
		LEFT JOIN template tem ON doc.template_id = tem.temp_id		
		WHERE doc.temp=0 <include refid="search"/>
		ORDER BY id DESC
		LIMIT #{pager.startIndex},#{pager.perPage}
	</select>
	
	<insert id="add" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			SELECT nextval(seq3)
		</selectKey>
		INSERT INTO document
		VALUES(#{id},#{title},#{content},#{start},#{end},#{writeDate},#{status},#{templateId},#{writerId},#{temp},#{count})
	</insert>
	
	<insert id="appAdd">
		INSERT INTO approval
		VALUES(#{documentId},#{employeeId},#{rank},#{result},#{date},#{comment})
	</insert>
	
	
	<resultMap id="allListResult" type="DocumentVO" autoMapping="true">
		<association property="templateVO" javaType="TemplateVO" autoMapping="true"/>
		<association property="employeeVO" javaType="EmployeeVO" autoMapping="true" columnPrefix="employee_"/>
		<association property="department" javaType="DepartmentVO" autoMapping="true" columnPrefix="department_"/>		
		<collection property="approvalVOs" javaType="List" ofType="ApprovalVO" autoMapping="true"/>
	</resultMap>
	
	<select id="getDetail" resultMap="allListResult">
		SELECT doc.*,
		tem.*,		
		app.*,	
		e.name employee_name,
		e.id employee_id,	
		d.name department_name,
		c.name "level"
		FROM document doc
		LEFT JOIN template tem ON doc.template_id = tem.temp_id
		LEFT JOIN approval app ON app.document_id = doc.id
		INNER JOIN employee e ON e.id=app.employee_id 
		INNER JOIN department d on d.id=e.department_id 
		INNER join code c on c.id=e.pos_id and c.type_id =300
		WHERE doc.id=#{id} 
		ORDER BY app.rank		
	</select>
	

	
	<select id="allTotalCount" parameterType="Map" resultType="Long">
		SELECT COUNT(id) FROM document r
	</select>	

</mapper>




