<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.Employee.EmployeeDAO">
    
    
    
<insert id="join" parameterType="EmployeeVO">
<!-- SELECT CONCAT(#{residentNumber}, next value for seq2) AS id-->
<selectKey resultType="String" keyProperty="id" order="BEFORE">
    SELECT concat (#{residentNumber}, nextval(seq4))
</selectKey>
    INSERT INTO employee (id,password,name,phone_number,email,address,address_detail,postcode,date_of_employment,resident_number,salary,account_Number,bank_name,is_leaved,department_id,pos_id)
    VALUES (#{id}, #{password}, #{name}, #{phoneNumber}, #{email}, #{address}, #{addressDetail}, #{postcode},
    #{dateOfEmployment}, #{residentNumber}, 10000, #{accountNumber}, #{bankName}, 1, #{departmentId}, 1)
</insert>


<!--<select id="getpos">
	select * from code
</select>
    -->
    
    
    


	


    
    
    
    









    <resultMap type="EmployeeVO" id="employeeDetails">
    	<id column="id" property="id"/>
    	<result column="password" property="password"/>
    	<result column="name" property="name"/>
    	<result column="phoneNumber" property="phoneNumber"/>
    	<result column="email" property="email"/>
    	<result column="address" property="address"/>
    	<result column="addressDetail" property="addressDetail"/>
    	<result column="postcode" property="postcode"/>
    	<result column="dateOfEmployment" property="dateOfEmployment"/>
    	<result column="residentNumber" property="residentNumber"/>
    	<result column="salary" property="salary"/>
    	<result column="accountNumber" property="accountNumber"/>
    	<result column="bankName" property="bankName"/>
    	<result column="isLeaved" property="isLeaved"/>
    	<result column="departmentId" property="departmentId"/>
    	<result column="posId" property="posId"/>
    
    <association property="id" javaType="String">
    <id property="userId" column="user_id"/>
    
    </association>
    </resultMap>

    
</mapper>
