<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.franchise.faq.FaqMapper">
    <select id="getImportantFaqList">
        SELECT
            ff.*
        FROM
            franchise_faq ff
        LEFT JOIN
            important_faq imf
            ON ff.id = imf.faq_id
        WHERE
            ff.is_deleted != 1 AND imf.faq_id IS NOT NULL
        ORDER BY
            imf.sort
    </select>
    <select id="getFaqList">
        SELECT
            *
        FROM
            franchise_faq
        WHERE
            is_deleted != 1
            <include refid="search"/>
        ORDER BY
            id DESC
        LIMIT
            ${startIndex}, ${perPage}
    </select>
    <insert id="addFaq">
        <selectKey resultType="Long" order="BEFORE" keyProperty="id">
            SELECT nextval(seq1)
        </selectKey>
        INSERT INTO
            franchise_faq
            (id, title, content, write_date, is_deleted)
        VALUES
            (#{id}, #{title}, #{content}, #{writeDate}, 0)
    </insert>
    <insert id="addImportantFaq">
        <selectKey resultType="Long" order="BEFORE" keyProperty="id">
            SELECT nextval(seq1)
        </selectKey>
        INSERT INTO
            important_faq
            (id, faq_id, sort)
        VALUES
            (#{id}, #{faqId}, max(sort)+1)
    </insert>
    <select id="getFaq">
        SELECT
            ff.id,
            ff.title,
            ff.content,
            ff.write_date,
            ff.is_deleted,
            CASE
                WHEN imf.faq_id IS NULL THEN '0'
                ELSE '1'
            END as is_important
        FROM
            franchise_faq ff
        LEFT JOIN
            important_faq imf ON ff.id = imf.faq_id
        WHERE
            ff.id = #{id}
    </select>
    <update id="updateFaq">
        UPDATE franchise_faq
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="writeDate != null">
                write_date = #{writeDate},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
    <select id="getTotalCount">
        SELECT
            COUNT(*)
        FROM
            franchise_faq
        WHERE
            is_deleted != 1
            <include refid="search"/>
        ORDER BY
            id DESC
    </select>
    <sql id="search">
        <choose>
            <when test='kind != null and kind.equals("title")'>
                AND title LIKE concat('%',#{search},'%')
            </when>
            <when test='kind != null and kind.equals("content")'>
                AND content LIKE concat('%',#{search},'%')
            </when>
            <when test='kind != null and kind.equals("title+content")'>
                AND (title LIKE concat('%',#{search},'%') OR content LIKE concat('%',#{search},'%'))
            </when>
        </choose>
    </sql>
    <select id="getAnotherFaq">
        SELECT
            *
        FROM
            franchise_faq
        WHERE
            id in
            (
                (
                    SELECT
                        id
                    FROM
                        franchise_faq
                    WHERE
                        id &lt; #{id} AND is_deleted != 1
                    ORDER BY
                        id DESC
                    LIMIT
                        1
                ),
                (
                    SELECT
                        id
                    FROM
                        franchise_faq
                    WHERE
                        id &gt; #{id} AND is_deleted != 1
                    ORDER BY
                        id
                    LIMIT
                        1
                )
            )
    </select>
    <insert id="setImportantFaq">
        INSERT INTO
            important_faq
            (faq_id, sort)
        VALUES
            (#{id}, (SELECT COALESCE(MAX(sort), 0) + 1 FROM important_faq sub))
    </insert>
    <delete id="deleteImportantFaq">
        DELETE FROM
            important_faq
        WHERE
            faq_id = #{id}
    </delete>
    <insert id="sortImportantFaq">
        UPDATE
            important_faq
        SET
            SORT = #{sort}
        WHERE
            faq_id = #{id}
    </insert>
</mapper>