<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.util.FileMapper">
    <resultMap id="fileResultMap" type="FileVO" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>
   <insert id="uploadFile" parameterType="FileVO">
       <selectKey keyProperty="id" order="BEFORE" resultType="Long">
           SELECT nextval(seq1)
       </selectKey>
       INSERT INTO attach
       (id, name, origin_name, url, extension, parent_id, tbl_id)
       VALUES
       (#{id}, #{name}, #{originName}, #{url}, #{extension}, #{parentId}, #{tblId})
   </insert>
   
    <delete id="deleteFile" parameterType="FileVO">
        delete from attach
           	WHERE id = #{id}                
            
    </delete>
    
    <select id="downFile" parameterType="FileVO" resultType="FileVO">
		SELECT
            *
        FROM
            attach
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="tblId != null and parentId != null">
                AND tbl_id = #{tblId} AND parent_id = #{parentId}
            </if>
        </where>
		
	</select>
</mapper>

