<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.erp.item.ItemMapper">
    <sql id="search">
        <where>
            <if test='id != null'>
                i.id LIKE concat('%',#{id},'%')
            </if>
            <if test='supplier != null and supplier.name != null'>
                AND sup.name LIKE concat('%',#{supplier.name},'%')
            </if>
            <if test='supplier != null and supplier.id != null'>
                AND sup.id = #{supplier.id}
            </if>
            <if test='product != null and product.name != null'>
                AND prd.name LIKE concat('%',#{product.name},'%')
            </if>
            <if test='product != null and product.id != null'>
                AND prd.id = #{product.id}
            </if>
            <if test='writer != null and writer.name != null'>
                AND emp.name LIKE concat('%',#{writer.name},'%')
            </if>
        </where>
    </sql>
    <resultMap id="getItemMap" type="ItemVO" autoMapping="true">
        <id column="id" property="id"/>
        <association property="supplier" javaType="SupplierVO" autoMapping="true" columnPrefix="supplier_"/>
        <association property="product" javaType="ProductVO" autoMapping="true" columnPrefix="product_">
            <association property="category" javaType="CodeVO" autoMapping="true" columnPrefix="category_" />
            <association property="unit" javaType="CodeVO" autoMapping="true" columnPrefix="unit_"/>
        </association>
        <association property="writer" javaType="EmployeeVO" autoMapping="true" columnPrefix="employee_">
            <association property="position" javaType="CodeVO" columnPrefix="position_" autoMapping="true"/>
        </association>
    </resultMap>
    <select id="getItemList" resultMap="getItemMap">
        SELECT
            i.*,
            sup.id supplier_id,
            sup.name supplier_name,
            prd.id product_id,
            prd.name product_name,
            prd.standard product_standard,
            prd.sell_price product_sellPrice,
            cat.name product_category_name,
            uni.name product_unit_name,
            emp.id employee_id,
            emp.name employee_name,
            pos.name employee_position_name,
            uni.id unit_id,
            uni.name unit_name
        FROM
            item i
        LEFT JOIN
            supplier sup
            ON i.supplier_id = sup.id
        LEFT JOIN
            product prd
            ON i.product_id = prd.id
        LEFT JOIN
            code cat
            ON prd.category_id = cat.id AND cat.type_id = '600'
        LEFT JOIN
            code uni
            ON prd.unit_id = uni.id AND uni.type_id = '500'
        LEFT JOIN
            employee emp
            ON i.writer_id = emp.id
        LEFT JOIN
            code pos
            ON emp.pos_id = pos.id  AND  pos.type_id = '300'
        <include refid="search"/>
        ORDER BY i.id
    </select>

    <select id="getItem" resultMap="getItemMap">
        SELECT
            i.*,
            sup.id supplier_id,
            sup.name supplier_name,
            prd.id product_id,
            prd.name product_name,
            prd.standard product_standard,
            prd.sell_price product_sellPrice,
            cat.name product_category_name,
            uni.name product_unit_name,
            emp.id employee_id,
            emp.name employee_name,
            pos.name employee_position_name
        FROM
            item i
        LEFT JOIN
            supplier sup
            ON i.supplier_id = sup.id
        LEFT JOIN
            product prd
            ON i.product_id = prd.id
        LEFT JOIN
            code cat
            ON prd.category_id = cat.id AND cat.type_id = '600'
        LEFT JOIN
            code uni
            ON prd.unit_id = uni.id AND uni.type_id = '500'
        LEFT JOIN
            employee emp
            ON i.writer_id = emp.id
        LEFT JOIN
            code pos
            ON emp.pos_id = pos.id  AND  pos.type_id = '300'
        WHERE
            i.id = #{id}
    </select>

    <insert id="addItem">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT nextval(seq1)
        </selectKey>
        INSERT INTO
            item
            (id, supplier_id, product_id, min_quantity, contract_price, create_date, modify_date, writer_id, `use`)
        VALUES
            (#{id}, #{supplier.id}, #{product.id}, #{minQuantity}, #{contractPrice}, #{createDate}, #{modifyDate}, #{writer.id}, 1)
    </insert>

    <update id="updateItem">
        UPDATE
            item
        <set>
            <if test="minQuantity != null">
                min_quantity = #{minQuantity}
            </if>
            <if test="contractPrice != null">
                ,contract_price = #{contractPrice}
            </if>
            <if test="modifyDate != null">
                ,modify_date = #{modifyDate}
            </if>
            <if test="use != null">
                ,use = #{use}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>

</mapper>