<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.erp.product.ProductMapper">
    <resultMap id="getProductMap" type="ProductVO" autoMapping="true">
        <id column="id" property="id"/>
        <association property="category" javaType="CodeVO" columnPrefix="category_" autoMapping="true"/>
    </resultMap>
    <select id="getCategory">
        SELECT
            *
        FROM
            code
        WHERE
            type_id = '600'
    </select>
    <select id="getProduct" resultMap="getProductMap">
        SELECT
            p.*,
            c.name category_name
        FROM
            product p
        LEFT JOIN
            code c
            ON p.category_id = c.id AND c.type_id = '600'
        WHERE
            p.id = #{id}
        ORDER BY
            p.id
    </select>
    <select id="getProductList" resultMap="getProductMap">
        SELECT
            p.*,
            c.name category_name
        FROM
            product p
        LEFT JOIN
            code c
            ON p.category_id = c.id AND c.type_id = '600'
        <include refid="search"/>
        ORDER BY p.id
    </select>
    <sql id="search">
        <where>
            <if test='id != null and !id.equals("")'>
                p.id LIKE concat('%',#{id},'%')
            </if>
            <if test='name != null and !name.equals("")'>
                AND p.name LIKE concat('%',#{name},'%')
            </if>
            <if test='standard != null and !standard.equals("")'>
                AND p.standard LIKE concat('%',#{standard},'%')
            </if>
            <if test='category != null and !category.id.equals("")'>
                AND p.category_id = #{category.id}
            </if>
        </where>
    </sql>

    <insert id="addProduct">
        <selectKey order="BEFORE" keyProperty="id" resultType="String">
            SELECT nextval(seq1)
        </selectKey>
        INSERT INTO
            product
            (id, name, category_id, standard)
        VALUES
            (#{id}, #{name}, #{category.id}, #{standard})
    </insert>
    <update id="updateProduct">
        UPDATE
            product
        <set>
            <if test="name != null">
                 name = #{name}
            </if>
            <if test="category != null">
                ,category_id = #{category.id}
            </if>
            <if test="standard != null">
                ,standard = #{standard}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
</mapper>