<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groups.schicken.erp.product.ProductMapper">
    <resultMap id="getProduct" type="ProductVO" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>
    <select id="getCategory">
        SELECT
            *
        FROM
            code
        WHERE
            type_id = '600'
    </select>
    <select id="getProduct">
        SELECT
            p.*,
            c.name category
        FROM
            product p
        LEFT JOIN
            code c
            ON p.category_id = c.id AND c.type_id = '600'
        <include refid="search"/>
        ORDER BY
            p.id
    </select>
    <select id="getProductList">
        SELECT
            p.*,
            c.name category
        FROM
            product p
        LEFT JOIN
            code c
            ON p.category_id = c.id AND c.type_id = '600'
        <include refid="search"/>
        ORDER BY p.id
    </select>
    <sql id="search">
        <where>
            <if test='id != null and !id.equals("")'>
                p.id LIKE concat('%',#{id},'%')
            </if>
            <if test='name != null and !name.equals("")'>
                AND p.name LIKE concat('%',#{name},'%')
            </if>
            <if test='standard != null and !standard.equals("")'>
                AND p.standard LIKE concat('%',#{standard},'%')
            </if>
            <if test='categoryId != null and !categoryId.equals("")'>
                AND p.category_id = #{categoryId}
            </if>
        </where>
    </sql>

    <insert id="addProduct">
        <selectKey order="BEFORE" keyProperty="id" resultType="String">
            SELECT MAX(id)+1 FROM product
        </selectKey>
        INSERT INTO
            product
            (id, name, category_id, standard)
        VALUES
            (#{id}, #{name}, #{categoryId}, #{standard})
    </insert>
    <update id="updateProduct">
        UPDATE
            product
        <set>
            <if test="name != null">
                 name = #{name}
            </if>
            <if test="categoryId != null">
                ,category_id = #{categoryId}
            </if>
            <if test="standard != null">
                ,standard = #{standard}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
</mapper>